---
export const prerender = false;
import Main from "@/layouts/main.astro";
import { pb } from "@/lib/pocketbase";

const { slug } = Astro.params;
const product = await pb
  .collection("products")
  .getFirstListItem(`slug = "${slug}"`);
---

<Main>
  <!-- <Router client:only /> -->
  <p>{product?.name}</p>
</Main>
