---
import BannerCarousel from "@/components/banner-carousel";
import CategoryList from "@/components/category-list";
import LatestProductList from "@/components/latest-product-list";
import {
  Card,
  CardAction,
  CardContent,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Main from "@/layouts/main.astro";
import "@/styles/global.css";
---

<Main title="Trang chủ">
  <div class="grid grid-cols-12 gap-6">
    <div class="col-span-3 sticky top-[81px] h-96">
      <Card className="rounded-md border-none shadow-none">
        <CardHeader>
          <CardTitle>Danh mục</CardTitle>
        </CardHeader>
        <CardContent>
          <CategoryList client:load />
        </CardContent>
      </Card>
    </div>
    <div class="col-span-9">
      <div class="grid grid-cols-1 gap-6">
        <BannerCarousel client:load />
        <Card className="rounded-md border-none shadow-none">
          <CardHeader>
            <CardTitle>Mới nhất</CardTitle>
            <CardAction>
              <a href="/product" class="text-sm text-blue-600 font-medium">
                Xem tất cả
              </a>
            </CardAction>
          </CardHeader>
          <CardContent>
            <div class="grid grid-cols-4 gap-6">
              <LatestProductList client:load />
            </div>
          </CardContent>
        </Card>
      </div>
    </div>

    <div class="col-span-12">
      <Card className="rounded-md border-none shadow-none">
        <CardHeader>
          <CardTitle>Nổi bật nhất</CardTitle>
        </CardHeader>
        <CardContent>
          <div class="grid grid-cols-5 gap-6">
            <div class="h-56 bg-gray-50"></div>
          </div>
        </CardContent>
      </Card>
    </div>
  </div>
</Main>
