---
import { Badge } from "@/components/ui/badge";
import { Button, buttonVariants } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Separator } from "@/components/ui/separator";
import { cn } from "@/lib/utils";
import "@/styles/global.css";
import "@fontsource/inter";
import LoadingIndicator from "astro-loading-indicator/component";
import { Image } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import {
  ChevronDownIcon,
  LayoutGridIcon,
  SearchIcon,
  ShoppingBagIcon,
  UserCircleIcon,
} from "lucide-react";

const { title } = Astro.props;
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ClientRouter />
    <LoadingIndicator color="#00a6f4" />
  </head>
  <body class="bg-gray-50">
    <header class="sticky top-0 z-50">
      <div class="bg-white">
        <div class="flex items-center justify-between max-w-7xl mx-auto py-2">
          <nav class="flex items-center gap-2">
            <a href="/">
              <Image
                class="select-none h-10"
                loading="eager"
                width={100}
                height={100}
                src="/logo.png"
                alt="logo"
              />
            </a>
            <Button variant="ghost">
              <LayoutGridIcon />
              Danh mục
              <ChevronDownIcon />
            </Button>
          </nav>
          <form action="/search" method="GET" class="relative">
            <div
              class="absolute left-0 top-1/2 -translate-y-1/2 w-12 flex justify-center text-gray-500"
            >
              <SearchIcon size={18} />
            </div>
            <Input
              type="text"
              name="q"
              placeholder="Tìm kiếm sản phẩm"
              className="w-96 h-10 pr-10 pl-10"
            />
            <Button
              type="submit"
              variant="link"
              className="rounded-tl-none rounded-bl-none absolute right-0 top-1/2 -translate-y-1/2 text-black hover:cursor-pointer hover:no-underline"
            >
              Tìm kiếm
            </Button>
          </form>
          <div class="flex items-center gap-2">
            <a
              href="/cart"
              class={cn(buttonVariants({ variant: "ghost" }), "relative")}
            >
              Giỏ hàng
              <ShoppingBagIcon />
              <Badge
                variant="destructive"
                className="absolute top-0 right-0 h-4 w-4 rounded-full p-0.5 font-mono tabular-nums"
              >
                8
              </Badge>
            </a>
            <a href="/signin" class={cn(buttonVariants())}>
              Đăng nhập
              <UserCircleIcon />
            </a>
          </div>
        </div>
      </div>
      <Separator />
      <!-- 
      <div class="bg-white">
        <div class="max-w-7xl mx-auto">
          <div class="flex items-center">
            <a href="/about" class={cn(buttonVariants({ variant: "link" }))}
              >Giới thiệu</a
            >
            <a href="/product" class={cn(buttonVariants({ variant: "link" }))}
              >Sản phẩm</a
            >
          </div>
        </div>
      </div> -->
    </header>
    <main class="max-w-7xl mx-auto py-6">
      <slot />
    </main>
  </body>
</html>
