---
import { Separator } from "@/components/ui/separator";
import "@/styles/fonts.css";
import "@/styles/global.css";
import "@fontsource/inter";
import LoadingIndicator from "astro-loading-indicator/component";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ClientRouter />
    <LoadingIndicator color="#00a6f4" />
  </head>
  <body class="">
    <header class="sticky top-0 z-50 h-20 bg-white"></header>
    <main class="">
      <slot />
    </main>
    <Separator />
    <footer>
      <div class="h-96"></div>
    </footer>
  </body>
</html>
